#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Thumbs.db
desktop.ini
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

################
##Fuel Start ignored files
################
/composer.lock
fuel/app/cache/
fuel/app/cache/*
fuel/app/logs/
fuel/app/logs/**
/index.php