/**
SmartMenus css for FuelStart sidebar vertical menu theme.

@author Vee W.
@version 1.0.1
*/


/* smartmenus global effect -------------------------------------------------------------------------------------------*/
/* menu icons */
.sm-fssidebar a .fa,
.sm-fssidebar a .glyphicon,
.sm-fssidebar a .menu-icon {
	color: #9d9d9d;
}
.sm-fssidebar > li > a.active .fa,
.sm-fssidebar > li > a.active .glyphicon,
.sm-fssidebar > li > a.active .menu-icon,
.sm-fssidebar > li > a.current .fa,
.sm-fssidebar > li > a.current .glyphicon,
.sm-fssidebar > li > a.current .menu-icon {
	color: #fff;
}


/* sub menu items */
.sm-fssidebar a:active,
.sm-fssidebar a:focus {
	outline: none;
}
.sm-fssidebar > li > a:active,
.sm-fssidebar > li > a:focus,
.sm-fssidebar > li > a:hover,
.sm-fssidebar > li > a.highlighted {
	background-color: rgba(0,0,0,0.3);
}
.sm-fssidebar > li > a.active,
.sm-fssidebar > li > a.current {
	background-color: #52A0E5;
}
.sm-fssidebar ul a:hover {
	color: #52A0E5;
}


/* smartmenus responsive -------------------------------------------------------------------------------------------- */
ul.sm-fssidebar {
	width: auto;
}
ul.sm-fssidebar iframe {
	display: none;
}
ul.sm-fssidebar ul {
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.3);
	display: none;
	left: auto;
	margin-left: 0;
	margin-top: 0;
	max-width: none;
	min-width: 0;
	position: static;
	top: auto;
	width: auto;
}
@media screen and (min-width: 768px) {
	ul.sm-fssidebar ul {
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.15);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
		padding: 5px 0;
		position: absolute;
		/*width: 180px !important;*/
		z-index: 3000;
	}
}


/* menu and submenu items responsive */
ul.sm-fssidebar > li {
	float: none;
}
ul.sm-fssidebar > li > a,
ul.sm-fssidebar ul {
	white-space: normal;
}
ul.sm-fssidebar > li > a .fs-menu-name {
	font-size: 12px;
	line-height: 20px;
}

.sm-fssidebar li.divider {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	margin: 8px 0;
}
.sm-fssidebar > li > a {
	font-size: 20px;
	line-height: 20px;
}
.sm-fssidebar a {
	color: #eee;
	padding: 10px 40px 10px 10px;
	text-decoration: none;
}
.sm-fssidebar a span.sub-arrow {
	background: rgba(0, 0, 0, 0.08);
	font-size: 14px;
	font-style: normal;
	height: 30px;
	left: auto;
	line-height: 30px;
	margin-top: -15px;
	overflow: hidden;
	position: absolute;
	right: 4px;
	text-align: center;
	text-shadow: none;
	top: 50%;
	width: 30px;
}
.sm-fssidebar a.highlighted span.sub-arrow:before {
	content: '-';
	display: block;
}
.sm-fssidebar ul {
	background-color: rgba(255,255,255,0.03);
}
.sm-fssidebar ul ul {
	background-color: inherit;
}
.sm-fssidebar ul a {
	overflow: hidden;
	padding-bottom: 8px;
	padding-top: 8px;
	white-space: normal;
	word-wrap: break-word;
}
.sm-fssidebar ul li:last-child a {
	padding-bottom: 16px;
}
.sm-fssidebar ul a.current {
	font-weight: bold;
}
.sm-fssidebar ul a.current:hover {
	color: #fff;
}
.sm-fssidebar .sm-nowrap > li > a {
	white-space: normal;
}
@media screen and (min-width: 768px) {
	.collapsed-sidebar-menu ul.sm-fssidebar > li > a {
		text-align: center;
	}
	.expanded-sidebar-menu ul.sm-fssidebar > li > a .fs-menu-name {
		display: inline;
		opacity: 1;
	}
	
	.sm-fssidebar a span.sub-arrow {
		display: none;
	}
	
	.sm-fssidebar > li > a {
		color: #eee;
		font-size: 20px;
		line-height: 20px;
		padding: 10px 10px;
		text-align: left;
		text-decoration: none;
	}
	ul.sm-fssidebar > li > a .fs-menu-name {
		display: none;
		font-size: 12px;
		line-height: 20px;
		opacity: 0;
	}
	
	.sm-fssidebar .sm-nowrap > li > a, 
	.sm-fssidebar .sm-nowrap > li > *:not(ul) a {
		white-space: nowrap;
	}
	
	.sm-fssidebar li.divider {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		margin: 8px 0;
	}
	
	.sm-fssidebar ul a {
		color: #333;
		padding: 10px 20px;
		text-decoration: none;
	}
	
	.sm-fssidebar ul ul {
		background-color: #fff;
	}
	/* the style below override mobile view use bootstrap default style */
	.sm-fssidebar ul a:hover,
	.sm-fssidebar ul a.highlighted {
		background-color: #f5f5f5;
		color: #262626;
	}
	.sm-fssidebar ul a.current {
		font-weight: bold;
	}
	.sm-fssidebar ul a.current:hover {
		color: #333;
	}
}